.intro {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;

  p {
    width: 100%;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  .dual {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: var(--paragraphSpacing);
  }

  .dual div {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dual .imgBox {
    flex: 1;
  }
}
