.sec {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-height: 0;

  /* vigtigt at min-height er på 0 til hele sektionen, og en wrapper til
  children elementer med overflow til auto eller scroll eller lignende.
  maks højde på body på 100vh, men siden her er overflow tilladt,
  så kommer scroll her, men ikke på naven, siden overflow ikke er tilladt der.
  */
  .contentWrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .paddingCon {
    width: 100%;
    height: 100%;
    padding-right: 6%;
  }
}
