.projCard {
  height: 100%;
  margin: 0 auto;
  width: 90%;

  background-color: var(--cardsColor);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 30px;

  display: flex;
  flex-direction: column;

  img {
    border-radius: 30px 30px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .content {
    width: 90%;
    margin: 0 auto;

    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .txtField {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .txtField h4 {
    text-align: center;
  }

  .txtField p {
    font-weight: 300;
  }

  .badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }

  .badges .badge {
    background-color: var(--mutedText);
    padding: 10px;
    border-radius: 100px;
    color: var(--primColor);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .btnBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
