@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primColor: #1f2937;
  --textColor: #e2e8f0;
  --cardsColor: #374151;
  --mutedText: #94a3b8;
  --accentColor: #9a3412;

  --accentColorHover: #7a2407;
  /*   --textColorHover: #bcbec0;
 */

  --paragraphSpacing: 12px;
  --letterSpacing: 0.25px;
}

body {
  background-color: var(--primColor);
  letter-spacing: var(--letterSpacing);
  line-height: 1.6;
}

html,
body {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: var(--textColor);
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.muted {
  color: var(--mutedText) !important;
  letter-spacing: 1px;
}
