@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primColor: #1f2937;
  --textColor: #e2e8f0;
  --cardsColor: #374151;
  --mutedText: #94a3b8;
  --accentColor: #9a3412;

  --accentColorHover: #7a2407;
  /*   --textColorHover: #bcbec0;
 */

  --paragraphSpacing: 20px;
}

body {
  scroll-behavior: smooth;
  background-color: var(--primColor);
}

html,
body {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--textColor);
}

a,
button,
input {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a {
  color: var(--textColor);
}

p {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

.muted {
  color: var(--mutedText) !important;
}
